body {
  background: #181719;
  color: #fff;
}

/* grid for footer at the bottom */
.grid-area {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  justify-self: center;
  color: #a9a9a9;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.5rem;
}

username {
  font-weight: bold;
  text-decoration-line: underline;
}

/* local navigation as a flexbox */
ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;
}

/* elements form description as a flexbox */
.description {
  display: flex;
  flex-direction: column;
  /* border: solid 3px purple; */
  /* width: 410px; */
}

/* grid for main content (without footer) */
* {
  margin: 0;
  padding: 0;
}

#logo {
  grid-area: logo;
  border: solid 1px white;
  padding: 0.5rem;
  width: 5.375rem;
  height: 1rem;
  margin-left: 4.8rem;
  margin-top: 2.63rem;
  justify-self: start;
}

#title {
  margin-top: 19.69rem;
  margin-left: 4.81rem;
  margin-bottom: 2.5rem;
  /* margin-right: 11.5rem; */
  color: #fff;
  font-family: Lora;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#title-description {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4.81rem;
  margin-bottom: 3rem;
}

button {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #181719;
  border: none;
  margin-left: 4.81rem;
  width: fit-content;
}

nav {
  display: inline;
  grid-area: navigation;
  justify-self: end;
  margin-top: 2.87rem;
  margin-right: 4.75rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

li {
  list-style-type: none;
}

#home {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: solid 0.125rem white;
}

.description {
  grid-area: description;
}

.overlap {
  grid-area: photo;
  justify-self: start;
  margin-top: 11rem;
  margin-bottom: 8rem;
}

.main-content {
  display: grid;
  grid-template:
    "... logo ... navigation ..." min-content
    "... description ... photo ..." min-content / 1fr 30rem 8.7rem 55rem 1fr;
}
