body {
  background: #181719;
  color: #fff;
}

/* grid for footer at the bottom */
.grid-area {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  justify-self: center;
}

/* local navigation as a flexbox */
ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;
}

/* elements form description as a flexbox */
.description {
  display: flex;
  flex-direction: column;
  border: solid 3px purple;
  width: 410px;
}

/* grid for main content (without footer) */
#logo {
  grid-area: logo;
}

ul {
  grid-area: navigation;
  justify-self: end;
}

.description {
  grid-area: description;
}

.overlap {
  grid-area: photo;
}

.main-content {
  display: grid;
  grid-template:
    "logo navigation" min-content
    "description photo" min-content / 39rem 1fr;
}
