body {
  background: #181719;
  color: #fff;
}

/* grid for footer at the bottom */
.grid-area {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  justify-self: center;
}

/* local navigation as a flexbox */
ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;
}
