/* overlapping grid layout for interior and designer photo */
.overlap {
  height: 666px;
  width: 737px;
  display: grid;
  grid-template-columns: 295px 410px 32px;
  grid-template-rows: 477px 78px 111px;
}

/* div with designer photo - grid container */
#designer {
  width: 25.625rem;
  height: 11.8125rem;
  display: grid;
  grid-template:
    "figure" min-content
    "text" min-content / 1fr;
  grid-area: 2 / 2 / -1 / 3;
}

/* img and figurecaption within figure as row-flexbox */
figure {
  display: flex;
  flex-direction: row;
  grid-area: figure;
  margin: 0 0 0 0;
}

#Webber {
  grid-area: 1 / 1 / 3 / -1;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
