body {
  background: #181719;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

#x {
  content: "\d7";
  display: none;
}

#x:after {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 1.25rem;
  content: "\d7";
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

/* grid for footer at the bottom */
.grid-area {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  justify-self: center;
  color: #a9a9a9;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.5rem;
}

username {
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-color: white;
}

li a {
  color: white;
  transition: all 0.4s;
}

/* effect after hovering over elements from navigation bar */
li a:hover {
  color: rgb(181, 181, 181);
}

/* elements form description as a flexbox */
.description {
  display: flex;
  flex-direction: column;
}

/* styles for individual elements */
#logo {
  font-family: "Crimson Pro", serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-transform: uppercase;
  border: solid 1px white;
  padding: 0.5rem;
  width: 5.375rem;
  height: 1rem;
}

#title {
  font-family: Lora;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#title-description {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  background-color: #181719;
  border: none;
  width: fit-content;
}

/* navigation bar (Home Collection About Contact) */
a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

#home {
  font-weight: 700;
  border-bottom: solid 0.125rem white;
  transition: all 0.4s;
}

/* color of bottom border changed after hovering over "Home" */
#home:hover {
  border-color: rgb(181, 181, 181);
}

li {
  list-style-type: none;
}

/* overlapping designer div and interior photo */
#designer {
  background: #181719;
}

figcaption h3 {
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#profession {
  margin: 0;
  padding: 0;
  color: var(--Gray-3, #828282);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text {
  font-family: Lora;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
