/* local navigation as a row flexbox */
ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;
}

#title {
  margin-top: 19.69rem;
  margin-left: 4.81rem;
  margin-bottom: 2.5rem;
}

#title-description {
  margin-left: 4.81rem;
  margin-bottom: 3rem;
}

button {
  margin-left: 4.81rem;
}

#Webber {
  margin: 1.13rem 1.19rem 1.56rem 1.94rem;
}

figcaption h3 {
  margin-top: 1.44rem;
  margin-bottom: 0.5rem;
}

.text {
  grid-area: text;
  margin: 0 6.06rem 2.13rem 1.63rem;
}

/* grid layout for main content */
#logo {
  grid-area: logo;
  margin-left: 4.8rem;
  margin-top: 2.63rem;
  justify-self: start;
}

.topnav {
  grid-area: navigation;
  justify-self: end;
  margin-top: 2.87rem;
  margin-right: 4.75rem;
}

.icon {
  display: none;
}

.description {
  grid-area: description;
}

.overlap {
  grid-area: photo;
  justify-self: start;
  margin-top: 11rem;
  margin-bottom: 8rem;
}

.main-content {
  display: grid;
  grid-template:
    "... logo ... navigation ..." min-content
    "... description ... photo ..." min-content / 1fr 30rem 8.7rem 55rem 1fr;
}
