/* style the navigation menu */
/* .topnav {
  overflow: hidden;
  background-color: #181719;
  position: relative;
} */

/* the horizontal navigation is not displayed */
.topnav #myLinks {
  display: none;
}

.topnav {
  display: grid;
}

/* .topnav a.icon {
  display: block;
} */

/* invisible vertical navigation */
#vertical-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* adjustement of elements' sizes */
#title {
  font-size: 36px;
}

#title-description {
  font-size: 14px;
}

#readmore {
  font-size: 14px;
}

.interior {
  width: 22rem;
  height: auto;
}

#designer {
  width: 18.75rem;
  height: 138px;
}

#Webber {
  width: 2.28rem;
  height: auto;
}

figcaption h3 {
  font-size: 12px;
}

#profession {
  font-size: 10px;
}

.text {
  font-size: 18px;
}

/* rectangular with designer */
figure #Webber {
  margin: 0.8rem 0rem 0rem 1.4rem;
}

#name_profession {
  margin: 1.05rem 5.25rem 0rem 0.87rem;
}

.text {
  margin-top: 1.15rem;
  margin-left: 1.2rem;
}

/* overlapping grid for interior photo and designer card */
.interior {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

#designer {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.overlap {
  height: 22rem;
  width: 22rem;
  display: grid;
  grid-template-columns: 2.5rem 19.5rem;
  grid-template-rows: 13.35rem 8.65rem;
}

/* grid of the main mobile page */

#logo {
  grid-area: logo;
}

navX {
  display: grid;
}

.icon {
  grid-area: hamburger;
  justify-self: end;
}

.description {
  grid-area: description;
}

.overlap {
  grid-area: overlapping;
}

.footer {
  grid-area: footer;
}

.main-content {
  width: 100vw;
  display: grid;
  grid-template:
    "logo hamburger" min-content
    "description description" min-content
    "overlapping overlapping" min-content
    "footer footer" / 1fr 1fr;
}
