body {
  background: #181719;
  color: #fff;
}

/* grid for footer at the bottom */
.grid-area {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  justify-self: center;
}

/* local navigation as a flexbox */
ul {
  display: flex;
  flex-direction: row;
  gap: 5.4rem;
}

/* selectors related to div with "designer" id */

/** img and figurecaption within figure as row-flexbox **/
figure {
  display: flex;
  flex-direction: row;
  grid-area: figure;
  margin: 0 0 0 0;
}

/** margins **/
figure img {
  margin: 1.13rem 1.19rem 1.56rem 1.94rem;
}

figcaption h3 {
  margin-top: 1.44rem;
  margin-bottom: 0.5rem;
}

#profession {
  margin: 0;
  padding: 0;
  color: var(--Gray-3, #828282);
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text {
  grid-area: text;
  margin: 0 6.06rem 2.13rem 1.63rem;
  color: #fff;
  font-family: Lora;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Webber {
  grid-area: photo;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/** div with designer photo - grid container **/
#designer {
  width: 25.625rem;
  height: 11.8125rem;
  background-color: rebeccapurple;
  display: grid;
  grid-template:
    "figure" min-content
    "text" min-content / 1fr;
}
